html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*,
*::after,
*::before{
    box-sizing: inherit; /*Que herede el Box Sizing para todos los elementos del html*/
}

body{
    margin: 0;
    overflow-x: hidden; /*No genera barra de desplazamiento horizontal*/
}

a {
    color: blue;
    transition: color 0.3s ease;
}

a:hover{
    color: deepskyblue;
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;/*Imagenes responsivas*/
    height: auto;
}

.error{
    padding: 1rem;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: antiquewhite;
    background-color: brown;
}

.form-search {
    margin: auto;
    text-align: center;
}

.search-form input {
    display: block;
    margin: auto;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem ;
}

.grid-fluid {
    margin: 1rem auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /*por cada elemento, que se autoajuste, que tenga mínimo 280px  y hasta el máximo disponible*/
}

.header {
    padding: 0.5rem;
    position: sticky;/*Fijar al top*/
    top: 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.header > * {/*Para cualquier elemento hijo inmediato*/
    margin: 1rem auto;/*Aplicale margen 1rem arriba y abajo y automático a los lados*/
}

.loader {
    margin: 1rem auto;
    display: block;
    width: 4rem;
    height: 4rem;
}

.post-card {
    margin: 1rem;
    padding: 1rem;
    width: 80%;
    background-color:azure;
}

.post-card p {
    display: flex;
    justify-content: space-between;
}